//- Navbar
.w3-top
    .w3-row.w3-padding.w3-white.w3-card
        a.w3-bar-item.w3-button(href="https://ethz.ch/en.html")
            img#logo(src="https://ethz.ch/etc/designs/ethz/img/header/ethz_logo_black.svg", alt="Logo of ETH Zurich, to homepage", srcset="")
        .w3-right.w3-hide-small.w3-padding
            a.w3-bar-item.w3-button(href='#about') About
            a.w3-bar-item.w3-button(href='#groups') Groups
            a.w3-bar-item.w3-button(href='#publications') Publications
            a.w3-bar-item.w3-button(href='#teaching') Teaching
        
header.w3-container.w3-content.w3-center#about
    h1.w3-margin Human-Computer Interaction at ETH Zürich
    p.w3-content The Human-Computer Interaction at ETH Zürich site connects students and researchers studing all HCI-related topics, including user interface technologies, new input &amp; output devices, novel interaction techniques, tangible &amp; ubiquitous computing, virtual &amp; augmented reality, educational technology, human-centered AI, as well as computer supported collaborative work.
    img#banner(src="./assets/banner.png", alt="", srcset="")
    figcaption Source: GPT

section.w3-row.w3-content.w3-container#groups
    h2 Groups
    each group in data.groups
        div.group-container.w3-half
            div.w3-content.group
                h3.group-name !{group.name}
                p
                    a(href=group.link, target='_blank') !{group.linkAbbr}
                p.group-faculty Prof. !{group.faculty}
                p.group-department !{group.department}


section.w3-content.w3-container#publications
    h2 Publications
    each pub in data.pubs
        div.w3-row.w3-padding-32
            div.w3-content.pub
                a(href=pub.url, target='_blank')
                    strong !{pub.title}
                p !{pub.author}
                p !{pub.booktitle}, !{pub.year}

section.w3-content.w3-container#teaching
    h2 Teaching
    each course in data.courses
        div.w3-row.w3-padding-32
            div.w3-content
                a(href=course.url, target='_blank')
                    strong !{course.name}
                p !{course.lecturers}
                p !{course.term}


footer.w3-container.w3-center.w3-padding-32
    section.w3-content#contact
        #contact !{data.contact}
    p.w3-small.w3-content © 2024 Human-Computer Interaction | ETH Zürich
